.header {
  color: #fbc403;
  font-size: 7rem;
  font-family: "Raleway", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header ul {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.n1 {
  background-color: #0a0a0a;
}

.n2 {
  background-color: #151515;
}

.n2 ul {
  width: 80%;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-sticky {
  position: fixed;
  height: 10rem;
  width: 10rem;
  z-index: 3;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 3.25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .dropbtn {
    font-size: 1.5rem;
  }

  .dropdown-content a {
    font-size: 1.5rem;
  }
}

.dropbtn {
  background-color: transparent;
  color: #fbc403;
  font-size: 2rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 5rem;
  z-index: 4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 16rem;
  box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 2rem;
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #ffdd03;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.burger div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #fbc403;
  margin: 0.3rem;
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 6rem;
  }

  .dropbtn {
    font-size: 1.5rem;
  }

  .header ul {
    height: 4rem;
  }

  .logo-sticky {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .sticky {
    display: none;
  }

  .n1 ul {
    display: none;
  }

  .n2 ul {
    position: absolute;
    right: 0rem;
    height: 92vh;
    top: 8vh;
    background-color: #151515;
  }

  .burger {
    display: block;
  }

  .logo-sticky {
    position: fixed;
    left: 0;
  }
}
