.header {
  color: #fbc403;
  font-size: 7rem;
  font-family: "Raleway", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header ul {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.n1 {
  background-color: #0a0a0a;
}

.n2 {
  background-color: #151515;
}

.header ul li {
  margin: 0 5rem;
}

.logo {
  position: fixed;
  z-index: 3;
}

.logo-sticky {
  position: sticky;
  height: 10rem;
  width: 10 rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 3.25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.dropbtn {
  background-color: transparent;
  color: #fbc403;
  padding: 0.2rem;
  font-size: 2rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 16rem;
  box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 2rem;
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #ffdd03;
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 5rem;
  }

  .header ul {
    height: 4rem;
  }

  .logo-sticky {
    width: 8rem;
    height: 8rem;
  }
}
