/* mobile header styling */
.header-mobile {
  width: 100%;
  background-color: #30393a;
  height: 8rem;
  display: none;
}

.burger {
  margin-right: 1rem;
  cursor: pointer;
}

.burger div {
  width: 2.75rem;
  height: 0.2rem;
  margin: 0.75rem;
  background-color: #fbc403;
  transition: all 0.2s ease-in-out;
}

/* header styling */
header {
  font-family: "Poppins", sans-serif;
}

.nav-links-one-container li a {
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  color: #fbc403;
}

.nav-links-one {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: #30393a;
}

.nav-links-two {
  width: 100%;
  height: 5rem;
  background-color: #373e3f;
}

.nav-links-one-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  align-items: center;
}

.nav-links-two-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 5rem;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-logo {
  height: 10rem;
  position: absolute;
  z-index: 2;
}

.logo-text {
  color: #fbc403;
  font-weight: 200;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  display: none;
}

/* hover dropdown menu */
.dropbtn {
  background-color: transparent;
  color: #fbc403;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 16rem;
  box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
  margin-top: 0.1rem;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.dropdown-content a {
  font-size: 2rem;
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #f0ec00;
}

/* hover-underline animation */
a.hover-underline {
  position: relative;
}

a.hover-underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #f0ec00;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.hover-underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* stickyFunction js */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* main styling */
main {
  font-size: 10rem;
}

/* media query */
@media only screen and (max-width: 1024px) {
  .nav-links-one-container {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  main {
    font-size: 5rem;
  }

  /* responsive header */
  .header-mobile {
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-links-one {
    display: none;
  }

  .nav-links-two {
    height: 0rem;
    background-color: #30393a;
    transition: all 0.3s ease-in;
    .dropbtn {
      font-size: 0rem;
      transition: all 0.2s ease-in-out;
    }
  }

  .nav-links-two-active {
    height: 20rem;
    .dropbtn {
      font-size: 1.5rem;
    }
  }

  .nav-links-two-container {
    flex-direction: column;
    height: 20rem;
  }

  .line1-active {
    transform-origin: top left;
    transform: rotate(45deg);
  }

  .line2-active {
    opacity: 0;
  }

  .line3-active {
    transform-origin: bottom left;
    transform: rotate(-45deg);
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  .header-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 5.5rem;
  }

  .logo-text {
    display: block;
  }
}
