.news {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

#News-Container {
  display: flex;
  align-items: center;
  width: 80%;
}

#content-container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.News-Items {
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
}
.New-img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
}
.News-Items:hover .New-img {
  opacity: 0.1;
}
.News-Items:hover .caption {
  opacity: 1;
}
.caption {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fbc403;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: bold;
  position: relative;
  top: -25%;
  transition: 0.5s ease;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .news {
    height: 130vh;
  }
  #content-container {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .News-Items {
    width: 55%;
    height: 20%;
    background-color: transparent;
  }
  .New-img {
    height: 18rem;
  }
  .caption {
    font-size: 2rem;
    margin-top: 6rem;
    opacity: 1;
  }
}
