@import "_header.scss";
@import "_homepage.scss";
@import "_dates.scss";
@import "_footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
