//@import "./footer";
$phone: 400px;
$tablet: 900px;
$desktop: 1100px;

@mixin phone {
  @media (min-width: #{$phone}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

*{
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

.footer1{
  background-color: rgb(37, 37, 37);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.15rem;
  @include phone {}
  @include tablet {}
  @include desktop {}
}

.footer-inner{
  display: flex;
  flex-direction: row;  
  color: #fbc403;
}

.footer-row-one{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 5vh;
}

.logo{
  height: 17vh;
  @include phone {
    height: 8vh;
    margin: 10px;
  }
}

.h1{
  font-size: 3rem;
  text-align: center;
  margin-left: 2rem;
  @include phone {
    font-size: 1rem;
  }
}

.footer-row-two{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: space-around;
  list-style: none;
  @include phone {
    font-size: 1rem;
  }
}

