/* mobile header styling */
.header-mobile {
  width: 100%;
  background-color: #30393a;
  height: 8rem;
  display: none;
}

.burger {
  margin-right: 1rem;
  cursor: pointer;
}

.burger div {
  width: 2.75rem;
  height: 0.2rem;
  margin: 0.75rem;
  background-color: #fbc403;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* header styling */
header {
  font-family: "Poppins", sans-serif;
}

.nav-links-one-container li a {
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  color: #fbc403;
}

.nav-links-one {
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #30393a;
}

.nav-links-two {
  width: 100%;
  height: 5rem;
  background-color: #373e3f;
}

.nav-links-one-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-links-two-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 5rem;
}

.logo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-logo {
  height: 10rem;
  position: absolute;
  z-index: 2;
}

.logo-text {
  color: #fbc403;
  font-weight: 200;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  display: none;
}

/* hover dropdown menu */
.dropbtn {
  background-color: transparent;
  color: #fbc403;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 16rem;
  -webkit-box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
  margin-top: 0.1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.dropdown-content a {
  font-size: 2rem;
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #f0ec00;
}

/* hover-underline animation */
a.hover-underline {
  position: relative;
}

a.hover-underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.hover-underline:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* stickyFunction js */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* main styling */
main {
  font-size: 10rem;
}

/* media query */
@media only screen and (max-width: 1024px) {
  .nav-links-one-container {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  main {
    font-size: 5rem;
  }
  /* responsive header */
  .header-mobile {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .nav-links-one {
    display: none;
  }
  .nav-links-two {
    height: 0rem;
    background-color: #373e3f;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .nav-links-two .dropbtn {
    font-size: 0rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .nav-links-two-active {
    height: 20rem;
  }
  .nav-links-two-active .dropbtn {
    font-size: 1.5rem;
  }
  .nav-links-two-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 20rem;
  }
  .line1-active {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .line2-active {
    opacity: 0;
  }
  .line3-active {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .dropdown:hover .dropdown-content {
    display: none;
  }
  .logo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 7rem;
  }
  .logo-text {
    display: block;
  }
}

.homepage-video {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.video-container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.video {
  min-height: 100%;
  min-width: 100%;
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
}

.homepage-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  background-color: #fbc503d2;
  width: 100%;
  height: 35vh;
  z-index: 1;
}

.homepage-main {
  width: 50%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.homepage-main p {
  font-weight: 400;
  color: white;
  line-height: 3rem;
  font-size: 2rem;
  margin: 1rem 2rem 0rem;
}

.btn {
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffdd03;
  box-shadow: inset 0px 1px 0px 0px #ffdd03;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #fbc503),
    to(#ffdd03)
  );
  background: linear-gradient(to bottom, #fbc503 5%, #ffdd03 100%);
  background-color: #fbc503;
  border-radius: 3px;
  border: 1px solid #9c7a00;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 35px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fbc503;
}

.btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #ffdd03),
    to(#fbc503)
  );
  background: linear-gradient(to bottom, #ffdd03 5%, #fbc503 100%);
  background-color: #ffdd03;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn a {
  color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  .homepage-overlay {
    height: 50vh;
  }
  .homepage-main {
    width: 100%;
    height: 50vh;
  }
  .homepage-main p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .btn {
    font-size: 18px;
  }
}

.dates {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.dates-container {
  height: 50vh;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #151515;
}

.dates-container h1 {
  font-weight: 800;
  font-size: 2rem;
  margin-top: 1rem;
  color: #fbc403;
  text-shadow: 1px 1px #ca9f01;
}

.subdates-container {
  height: 15%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subdates-container span {
  font-weight: bold;
  font-size: 1.75rem;
}

.month {
  color: #354359;
  text-transform: uppercase;
}

.day {
  color: #c41019;
}

@media only screen and (max-width: 768px) {
  .dates {
    height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .dates-container {
    height: auto;
    width: 100%;
  }
}

.footer {
  background-color: #6d6c6c;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer1 {
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 20vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.15rem;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #fbc403;
}

.footer-row-one {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5vh;
}

.logo {
  height: 17vh;
}

@media (min-width: 400px) {
  .logo {
    height: 8vh;
    margin: 10px;
  }
}

.h1 {
  font-size: 3rem;
  text-align: center;
  margin-left: 2rem;
}

@media (min-width: 400px) {
  .h1 {
    font-size: 1rem;
  }
}

.footer-row-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 2.5rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
}

@media (min-width: 400px) {
  .footer-row-two {
    font-size: 1rem;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 2.5rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  margin-left: 5vh;
}

@media (min-width: 400px) {
  .social-media {
    font-size: 1rem;
  }
}

.social-media-logos {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.logo-twitter {
  height: 2vh;
  width: 2vh;
}

.logo-facebook {
  height: 2vh;
  width: 2vh;
}

.logo-instagram {
  height: 2vh;
  width: 2vh;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 2.5rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  margin-left: 2vh;
}

.links a {
  color: #fbc403;
}

@media (min-width: 400px) {
  .links {
    font-size: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */
